/* CSS to style the About section */
.navbar_about {
    background: linear-gradient(to right, #FAD0C4, #FAD0C4, #FFD1FF);
    overflow: hidden;
    padding-top: 0;
}

.navbar_about a {
  float: right;
  color: black;
  font-weight: 400;
  text-align: center;
  padding: 20px 20px;
  font-size: 150%;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
}

.About {
    text-align: center;
    color: #4E4376;
    font-weight: 600;
    font-size: 48px;
    
}


.box {
    display: flex;
}

.info {
  font-size: medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 60%;
    text-align: left;
  
}

.text {
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 17px;
  margin-left: 10px;
}


.text-content {

    width: 40%; /* Set the width of the text column to 50% */
    padding-left: 20px;
}
.text-content input, .text-content textarea{
  background-color: #4E4376;
  width: 100%;
  height:100%;
  border-radius: 10px;
  color: white;
}



.rectangle {
  padding: 5px;
  /* padding-left: 10px; */
    width: 80%;
    height: 20px;
    margin-bottom: 5%;
    border-radius: 10px;
}


body{
  margin: 0;
  font-family:'Inter',sans-serif;
}

.First{
    
  position: absolute;
  left: 2%; /* Position it at the extreme left */
  top: 0%;
  font-size: 200% !important;
  top: -0.5%;
}

.rectangle3 {
  padding: 5px;
  background-color: #e3d1ff;
  width: 80%;
  height: 200px;
  margin-bottom: 5%;
  border-radius: 10px;
}
button{
  align-items: center;
  height: 40px;
  font-size:large ;
  width: 150px;
  color: #ffffff;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background:linear-gradient(to right,#b878de,#518ac7 );
  width: 15%;
  border-radius: 10%;
}


.icon{
  
  vertical-align:center;
  width: 50px;
  height: 50px;
  margin-left: 10%;
  margin-top:3px;
} 



.name{
  margin-left: 20%;
}

a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  .navbar_about a {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
      padding: 15px 0;
  }

  li{
    font-size: 10px;
  }

  .box {
      flex-direction: column;
      align-items: center;
  }

  .text-content {
      width: 100%;
  }

  .First {
      position: static;
      text-align: center;
      margin-bottom: 20px;
  }

  .rectangle, .rectangle3 {
      width: 90%;
  }

  .details {
      margin-left: 0;
  }
}
.btn1{

    display: flex;
    justify-content: center;
    width: 500px;
}
.input-field::placeholder {
    color: transparent;
  }
  .input-field {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    color: white;
  }
  .input-field:focus + .form-label,
.input-field:not(:placeholder-shown) + .form-label {
  transform: translate(5px, 22px);
  font-size: 14px;
  color: black;
  top:-55px;
} 
.input-field:focus + #message , 
.input-field:not(:placeholder-shown) + #message{
  transform: translate(5px, 22px);
  top: -240px;
}
.form-label{
    position: relative;
    top:-22px;
    left: 6px;
    color: white;
    transition: 0.3s;
    pointer-events: none;
  }
  #message{
    top:-200px;
  }